    .card {
        display: flex;
        justify-content: right;
        justify-content: end;
        flex-direction: row;
        font-size: 0.8rem;
        z-index: 1;

        margin-top: -1rem;
        padding-right: 5rem;

        @media screen and (max-width: 1048px) {
            display: none;
        }
    }

    .column {
        display: relative;
        padding: 1rem;
        margin-right: 2rem;
    }


    h2 {
        text-align: center;
    }

    @media screen and (max-width: 1048px) {
        .card-image {
            display: none;
        }

    }

    .strava-header {
        color: rgb(252, 76, 2);
    }