 ul {
   list-style-type: none;
   margin: 0;
   padding: 1rem;
   overflow: hidden;
   background-color: orangered;
 }

 li { 
   display: inline-flex;
   margin-left: 10vw;
 }

 li a {
   display: block;
   color: white;
   text-align: center;
   font-family:  Verdana, Geneva, Tahoma, sans-serif;
   padding: 14px 16px; 
   text-decoration: none;
 }

 li a:hover:not(.active) {
   background-color: rgb(246, 236, 236);
   border: none;
   color: black;
   border-radius: 5px; 
 }

 .active {
   background-color: #04AA6D;
   
 }

 button:hover {
  padding: 1rem;
 }
 table{
    font-family: Arial,
    Helvetica,
    sans-serif;
    border-collapse:  collapse;
    width: 100%;
    margin: 3px;
 }
    td,
    th {
      
      text-align: left;
      padding: 5px;
    }
  
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    
    tr:nth-child(odd) {
      background-color: rgb(238, 232, 232);
    }

    p{ 
        justify-content: center;
        text-align: center;
        align-items: center

    }
    h2{
        margin-top: 2em;
        justify-content: center;
        text-align: center;
        align-items: center
    }